form {
    margin-top: 40px;
}

.tabela {
    display: none;
}

.contatos {
    display: none;
}

input, button {
    padding: 8px;
    margin-bottom: 8px;
    width: 100%;
}

button {
    background-color: blue;
    color: white;
    border: none;
}

span {
    display: none;
}

#campocorreto{
    border-radius: 2px;
    background-color: green;
}

#campocomerro{
    border-radius: 2px;
    background-color: red;
}